{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <div class="header-top">
        <span class="time"></span>
        <span class="status"></span>
    </div> --}}
    {{!-- <header class="header">
        <div class="header-nav">
            <button class="button">
                <img src="/img/iphone/arrow-back.svg" alt="arrow" width="24"
                    height="24">
            </button>
            <button class="button">
                <img src="/img/iphone/avatar.png" alt="avatar" width="24"
                    height="24">
            </button>
        </div>
    </header> --}}
    {{!-- <h1 class="title">Мій блог</h1> --}}
    {{!-- <main class="post-cards">
        <div class="post-card">
            <div class="post-card__info">
                <div class="badges">
                    <span class="badge__important">Важливо</span>
                    <span class="badge__new">Нова</span>
                </div>
                <span class="date"></span>
            </div>
            <p class="post-card__text">
                До біса планувальник, наймаємо дизайнера і готуємося до
                презентації, як Джобс
            </p>
        </div>
        <div class="post-card">
            <div class="post-card__info">
                <div class="badges">
                    <span class="badge__important">Важливо</span>
                </div>
                <span class="date"></span>
            </div>
            <p class="post-card__text color-text">
                Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
            </p>
        </div>
        <div class="post-card">
            <div class="post-card__info">
                <div class="badges">
                    <span class="badge__important">Важливо</span>
                    <span class="badge__new">Нова</span>
                </div>
                <span class="date"></span>
            </div>
            <p class="post-card__text">
                До біса планувальник, наймаємо дизайнера і готуємося до
                презентації, як Джобс
            </p>
        </div>
    </main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}