<main>
    <div class="container">
        <div class="page">
            <a class="page__link1" href="/blog">Blog</a>
            <a class="page__link2" href="/community">Community</a>
        </div>
    </div>
</main>