{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <div class="header-top">
        <span class="time"></span>
        <span class="status"></span>
    </div> --}}
    {{!-- <header class="header">
        <div class="header-nav">
            <button class="button">
                <img src="/img/iphone/arrow-back.svg" alt="arrow" width="24"
                    height="24">
            </button>
            <button class="button">
                <img src="/img/iphone/avatar.png" alt="avatar" width="24"
                    height="24">
            </button>
        </div>
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <nav class="nav">
        <span class="info base">База знань</span>
        <span class="info">Інформація</span>
    </nav> --}}

    {{!-- <img class="img" src="/img/community/img1.jpg" alt="img link telegram"> --}}

    {{!-- <h2 class="subtitle">Що таке база знань?</h2> --}}
{{!--
    <p class="text">
        База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач.
    </p> --}}

    {{!-- <button class="btn">Перейти до ком'юніті у Телеграм</button> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}